@@include('./top.html')
<div class="decoration_container">
    <div class="decor">
        <img class="responsive_img" src="public/img/decor_images/decor_image8.jpg" alt="">
        <div class="decor_circle_2"></div>
        <div class="decor_circle_1"></div>
        <div class="slider_text"></div>
    </div>
</div>
<section class="about">
    <div class="container">
        <div class="decor_circle_1"></div>
        <div class="decor_circle_2"></div>
        <h2 class="block_main_title">Роды в США</h2>
        <div class="block_description">Aenean sollicitudin, lorem quis bibendum</div>
        <div class="divider"></div>
        <article class="row clr first">
            <div class="block_content">
                <div class="decor_container">
                    <div class="decor_circle_3"></div>
                    <div class="decor_circle_4"></div>
                </div>
                <h3 class="title">Sed odio sit amet nibh vulputate cursus</h3>
                <p class="text">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                    <br><br>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent.
                </p>
            </div>
            <div class="img_block">
                <div class="img_placeholder"></div>
                <div class="img_container">
                    <img class="responsive_img" src="public/img/img1.jpg" alt="">
                </div>
            </div>
        </article>
        <p class="text_between">
            Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat
        </p>
        <article class="row clr second">
            <div class="block_content">
                <div class="decor_container">
                    <div class="decor_circle_3"></div>
                    <div class="decor_circle_4"></div>
                </div>
                <h3 class="title">Sed odio sit amet nibh vulputate cursus</h3>
                <p class="text">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                    <br><br>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent.
                </p>
            </div>
            <div class="img_block">
                <div class="img_placeholder"></div>
                <div class="img_container">
                    <img class="responsive_img" src="public/img/img1.jpg" alt="">
                </div>
            </div>
        </article>
    </div>
</section>
<div class="pre_footer_line"></div>
@@include('./bottom.html')