<footer class="container clr">
    <nav class="closed collapsed menu" id="footer_menu">
        <div class="btn_panel">
            <button class="dropdown_toggle" data-component="dropdown_toggle">
                <div></div>
                <div></div>
                <div></div>
            </button>
        </div>
        <div class="dropdown_container">
            <ul class="dropdown_bar">
                <li><a href="#">Главная</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Услуги</a></li>
                <li><a href="#">Врачи</a></li>
                <li><a href="#">Цены</a></li>
                <li><a href="#">Партнеры</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
    </nav>
    <ul class="social_menu clr">
        <li class="facebook"><a href="#"></a></li>
        <li class="vk"><a href="#"></a></li>
        <li class="twitter"><a href="#"></a></li>
        <li class="google"><a href="#"></a></li>
        <li class="instagram"><a href="#"></a></li>
    </ul>
    <div class="copyright">All rights reserved. Companyname 2016</div>
</footer>
<div class="footer_line"></div>
</body>
</html>